@import '../../scss/sizes.scss';
#map { 
  height:  100vh; 
  position:absolute;
  right:0;
  top:0;
  bottom:0;
  
  @include tablet{
    &.nonactive{
        width: 100%;
        width: calc(100%);
        width: -moz-calc(100%);
        width: -webkit-calc(100%);
    }

  }
  @include desktop{
    &.nonactive{
      width: 100%;
      width: calc(100%);
      width: -moz-calc(100%);
      width: -webkit-calc(100%);
    } 
  }
}


.leaflet-left .leaflet-control-scale {
  margin-left: 0px;
}

